<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="org.pdfclown.samples.cli.SampleLoader.inputPath" value="../../../../main/res/samples/input/"/>
    <add key="org.pdfclown.samples.cli.SampleLoader.outputPath" value="../../output/"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>